body {
    background: white;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
}

a {
    font-weight: bold;
    color: DarkCyan;
}

a:hover {
    color: #EAFFFF;
}

#container {
    background: white;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    height: 99vh;
}

.box {
    width: 75%;
    margin: 5px;
    text-align: center;
    /* will center text in <p>, which is not a flex item */
}

p, li, h1, h3 {
    color: black;
}

li {
    list-style: none;
}