body {
    background: white;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    color: #EAFFFF;
}

.rose {
    background-color: white;
    color: black;
    border: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

.rose:hover {
    color: #FF1892;
}

.bleu {
    background-color: white;
    color: black;
    border: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

.bleu:hover {
    color: #0017DE;
}

.jaune {
    background-color: white;
    color: black;
    border: solid;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

.jaune:hover {
    color: #FFF000;
}

.blanc {
    background-color: white;
    color: black;
    border: solid;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}

.blanc:hover {
    color: #F1F1F1;
}

#container {
    background: white;
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
    height: 99vh;
}

.box {
    width: 75%;
    margin: 5px;
    text-align: center;
    /* will center text in <p>, which is not a flex item */
}

p, li, h1, h3 {
    color: black;
}

li {
    list-style: none;
}